body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #920606, #09526d, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: #ecf0f1;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". Card ."
    ". . .";
}

.Card {
  display: grid;
  grid-template-columns: 0.9fr 2fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Photo job job"
    "Name Description-text ."
    ". Description-text Contact-zone";
  grid-area: Card;
  background-color: #293847;
  filter: drop-shadow(5px 5px 10px #000);
  border-radius: 0px 150px 0px 150px;
}

.Photo {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: Photo;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.Name {
  text-align: end;
  padding-right: 12%;
  font-size: 150%;
  grid-area: Name;
}

.Description-text {
  padding-left: 4%;
  padding-right: 4%;
  grid-area: Description-text;
}

.Contact {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-area: Contact-zone;
  
}
.contact_text{
  margin-left:5%;
}

.Contact ul{
  list-style: none;
  text-align: left;
  font-size: 75%;
  margin: 0;
  padding: 0;
  padding-left: 8%;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  25%,
  50% {
    transform: translate3d(0, +20%, 0);
  }

  50%,
  75% {
    transform: translate3d(0, -250%, 0);
  }

}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.job {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-self: center;
  font-weight: 600;
  grid-area: job;
  font-size: 35px;
  line-height: 40px;
  width: 75%;
  color: #ecf0f1;

}

.job_content {
  display: flex;
  font-weight: 600;
  overflow: hidden;
  height: 50px;
}

.job_content::before {
  content: "[";
  left: 0;
}

.job_content::after {
  content: "]";
  position: relative;
  right: 0;
}

.job_content::before,
.job_content::after {
  position: relative;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.job_text {
  display: inline;
  float: left;
  margin: 0;
}

.item_list {
  margin-top: 0;
  padding-left: 5%;
  text-align: left;
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.item {
  line-height: 40px;
  margin: 0;
}