body {
    background-color: #730800;
    color: #C97D60;
    font-family: "Aclonica",sans-serif;
}

.icon {
    width: 2em;
    object-fit: fill;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 0.7fr;
    grid-template-rows: 0.5fr 0.8fr 0.9fr;
    grid-auto-flow: row;
    grid-template-areas:
        "Photo design design"
        "Nom Présentation bouton"
        ". Présentation Contact";
}

.Présentation {
    margin-left: 5%;
    margin-right: 5%;
    grid-area: Présentation;
}

.Photo {
    text-align: end;
    grid-area: Photo;
}

.Photo>img {
    border-radius: 50%;
}

.Nom {
    margin-top: 10%;
    margin-right: 10%;
    font-size: 160%;
    text-align: end;
    grid-area: Nom;
}


.Contact {
    grid-area: Contact;
}

.bouton {
    grid-area: bouton;
}

.design {
    grid-area: design;
}

.column{
    float: left;
}

.row {
    clear: both;
}